Class and Object
================

In [19]:
class bank_account:
    def __init__(self):
        self.name=input("Enter your name:")
        self.age=int(input("Enter your age:"))
        self.amount=int(input("Enter your deposit:"))
    def display(self):
        print("Thanks for Opening Account in Our Bank ",self.name)

In [20]:
kishore=bank_account()

Enter your name: Kishore
Enter your age: 20
Enter your deposit: 1000

In [9]:
print(kishore.name)

kishore

In [10]:
Naresh=bank_account()

Enter your name: Naresh
Enter your age: 19
Enter your deposit: 2000

In [11]:
print(Naresh.age)

19

In [13]:
Naresh.display()

Thanks for Opening Account in Our Bank

In [21]:
kishore.display()

Thanks for Opening Account in Our Bank  Kishore

In [28]:
class school:
    def __init__(self):
        self.name=input("Enter your name: ")
        self.SSLC_Mark=int(input("Enter your 10th Mark: "))
    def group(self):
        if(self.SSLC_Mark>400):
            print("You are going to Group1")
            self.stream="Group1"
        elif(self.SSLC_Mark>300 and self.SSLC_Mark<=400 ):
            print("You are going to Group2")
            self.stream="Group2"
        elif(self.SSLC_Mark>=200 and self.SSLC_Mark<=300 ):
            print("You are going to Group3")
            self.stream="Group3"
        self.HSC_Mark=int(input("Enter your 12th Mark: "))

In [29]:
class college(school):
    def courses(self):
        if(self.stream=="Group1" and self.HSC_Mark >500):
            print("You are eligible to become an Doctor or Engineer")
        elif(self.stream=="Group2" and self.HSC_Mark >500):
            print("You are eligible to become an Nursing or Teacher")
        elif(self.stream=="Group3" and self.HSC_Mark >500):
            print("You are eligible to become an Manager or Accountant")

In [30]:
Kathavarayan=school()

Enter your name:  Dhanush
Enter your 10th Mark:  300

In [31]:
Kathavarayan.group()

You are going to Group3

Enter your 12th Mark:  503

In [32]:
Ramasamy=college()

Enter your name:  Ramasamy
Enter your 10th Mark:  350

In [33]:
Ramasamy.group()

You are going to Group2

Enter your 12th Mark:  515

In [34]:
Ramasamy.courses()

You are eligible to become an Nursing or Teacher